## SLIM for market basket analysis
In this example, we are going to train a SLIM model on a transactional database

SLIM uses the [Minimum Description Length](https://en.wikipedia.org/wiki/Minimum_description_length) principle
to make pattern mining easier, as the resulting patterns will be a **lossless compression of the original data**

You end up having less data to consider, and your life just gets easier

In [1]:
import skmine

print("This tutorial was tested with the following version of skmine :", skmine.__version__)

This tutorial was tested with the following version of skmine : 0.0.9

In [2]:
import pandas as pd
from skmine.itemsets import SLIM

SLIM can be used to perform Market Basket Analysis

Here we define a set of transactions containing items bought in a store

In [3]:
D = [
    ['bananas', 'milk'],
    ['milk', 'bananas', 'cookies'],
    ['cookies', 'butter', 'tea'],
    ['tea'], 
    ['milk', 'bananas', 'tea'],
]
D

[['bananas', 'milk'],
 ['milk', 'bananas', 'cookies'],
 ['cookies', 'butter', 'tea'],
 ['tea'],
 ['milk', 'bananas', 'tea']]

In [4]:
slim = SLIM(pruning=True)
slim.fit(D).transform(D)

           itemset  usage
0  [bananas, milk]      3
1            [tea]      3
2        [cookies]      2
3         [butter]      1

----------
What if a new user comes to the store and buy some items ?
We add its shopping cart to the data, like so

In [5]:
D.append(['jelly', 'bananas', 'cookies'])
D

[['bananas', 'milk'],
 ['milk', 'bananas', 'cookies'],
 ['cookies', 'butter', 'tea'],
 ['tea'],
 ['milk', 'bananas', 'tea'],
 ['jelly', 'bananas', 'cookies']]

Just retraining SLIM will give us a freshly updated summary of our market baskets

In [6]:
SLIM().fit(D).transform(D)

            itemset  usage
0   [bananas, milk]      3
1  [bananas, jelly]      1
2         [cookies]      3
3             [tea]      3
4          [butter]      1